body{
    background: #e2dfdf;
    text-align: center;
    height: 100%;
}

img{
    width: 220px; 
    height: 220px;
    border-radius: 50%;

    margin: auto;
    margin-top:40px;
}

.center{

}

.titulo{
    text-align: left;
    margin-left: 60px;
    margin-top: 40px;
    background-color: antiquewhite;
    text-align: center;
    width: 220px;
}


.sobre{
    display: flex;
    height: auto;
    flex-direction: column;
}

.sobre>p{
   margin-left: 14px;
   background-color: #000000;
   color: white; 
   font-size: 30px;
       border: #3b3b3b solid 10px;
    border-radius: 5px;
   padding: 22px;
}
